body {
    text-align: center;
    background-image: url('./weather-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 10%;
    display: block;
}

#location {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    background-color: white;
    color: black;
    border: none;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    border-bottom: 4px solid rgb(242, 152, 8);
    text-align: center;
    border-radius: 25px 8px 25px 8px;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    height: 40px;
}

#location-time > span {
    display: block;
    color: white;
}

#location-time {
    margin-top: 5%;
}

#weather-info > div {
    color: white;
}

#temp {
    font-size: 50px;
    font-weight: bold;
}